<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/common :: head('Instargram')"></head>
<body>
<!-- main -->
<head th:replace="layout/common :: menu('menu')"></head>
<main class="main">
    <div class="feeds" id="feeds">
        <!-- 스토리 피드 리스트 시작 -->
        <!-- 스토리 피드 리스트  끝-->
    </div>
    <div>
        <span th:text="${user.getName()}"></span>
    </div>
    <div class="main-right">
        <div class="myProfile">
            <a th:href="@{/user/profile(profileEmail=${user.email})}" ><img class="pic" th:src="|/image/${user.profileImgFile?.storeFileName}|" onerror="this.src='/img/default_profile.jpg'; "/></a>
            <div>
                <span class="userID point-span" th:text="${user.name}"></span>
                <span class="sub-span" th:text="${user.title}"></span>
            </div>
        </div>
    </div>
<footer th:replace="layout/common :: footer('footer')"></footer>
</main>
    <script th:inline="javascript">
    /*<![CDATA[*/
    let principalId = [[${user.id}]];
    /*]]>*/
</script>
<script src="/js/story.js">
    storyLoad();
</script>
</body>
</html>